.movie-card{
    display: flex;
    width: 280px;
    margin: 20px;
    padding: 0;
    justify-content: center;
}


.image{
   height: 320px;
   width: 400px;
   background-color: black;
}



.row{
    background-color: black;
    position: relative;
    overflow: hidden;
   
}


.info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.description{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    transform: translateX(100%);
    text-align: center;
    padding: 1rem;
}
.description p{
    font-size:14px;
}
.row:hover .description{
    transform: translateX(0%);
}

.details , .details:active {
    text-decoration: none;
    color: black;
    font-weight: 600;
    opacity: 0.8;
   
}
.details:hover{
    opacity: 1;
    color: black;
    
}
.btn{
    
    transition: 0.5s all ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}



